    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a href="https://github.com/angueyraNIH"><i class="fa fa-github-alt fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://twitter.com/juanonyme"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://instagram.com/bowie.brite"><i class="fa fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
