.reveal {
  font-family: "Avenir", Avenir;
  font-size: 24px;
  font-weight: normal;
	color: #000; }
/*  color: #000000; }*/

/*********************************************
 * CUSTOM DIVS
 *********************************************/
.reveal div.title {
	float: top;
	margin-bottom: 2%;
	margin-top: -5%;
  color: #fff;
  font-size: 3.5em;
  font-family: Avenir;
  font-weight: 200;
  line-height: 1;
	background-color: #383838;
  letter-spacing: normal;
  text-align: left;
	text-transform: underline;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal div.left {
	float: left;
	width: 50%;
	margin-bottom: 2%;
	margin-left: 0%;
/*	background-color: #cce6ff;*/
	text-align: left;
	font-size: 2.0em;
}

.reveal div.right {
	float: right;
	width: 50%;
	margin-bottom: 2%;
	margin-right: 0%;
/*	background-color: #ffe6e6;*/
	text-align: right;
	font-size: 2.0em;
}

.reveal div.bottom {
	float: bottom;
	margin: 2%;
	width: 96%;
	font-size: 2.0em;
/*	background-color: #72A4A9;*/
	text-align: left;
}

.reveal div.L {text-align:left;margin: 2%; font-size: 2.0em;}
.reveal div.R {text-align:right;margin: 2%; font-size: 2.0em;}


.reveal h0L {
  position: absolute;
  top: 0%; 
  left: -4%;
  color: #fff;
  font-size: 2.5em;
  font-family: Avenir;
  font-weight: 200;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h0R {
  position: absolute;
  top: -100%; 
  right: -4%;
  color: #fff;
  font-size: 2.5em;
  font-family: Avenir;
  font-weight: 200;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

	/*********************************************
	 * CUSTOM Paragraphs
	 *********************************************/
	
.reveal p.ind1 {
	margin-left:5%;
}
.reveal li.ind1 {
	margin-left:5%;
	list-style-type:circle;
}

.reveal img.centered {
	margin-left: auto !important;
  margin-right: auto !important;
	max-width: 90%;
	max-height: 85%;
	margin: 0;
	padding: 0;
}