/*Use on a slide by slide basis to delimit borders*/
div.lims {
   position:absolute;
   top:0px;left:0px;
   width:1920px;height:1080px;
   color:rgb(125,125,125);
   border-style: solid;
   border-width: 4px;
}
li {margin-bottom: 20px !important;}

sup {
   line-height: 0;
   font-size: 70% !important;
   vertical-align: bottom;
   mso-text-raise:40%;
}
sub {
   line-height: 0;
   font-size: 70% !important;
   vertical-align: top;
   mso-text-raise:40%;
}
.expression {
  display:flex;
  align-items: center;
}

.supsub {
  display: flex;
  flex-direction: column;
  !margin-left: 20px;
}

.subscript {
  display:flex;
}

.superscript {
  display:flex;
}

h1.bluetitle {
   color: rgb(0, 170, 213);
   text-align:center;
   font-weight:900;
   width: 1900px; left: 10px; top: 5px; height: auto;
   font-size:1.8em;
   margin-top:30px;
   margin-left:30px;
}
h1.bluetitleL {
   color: rgb(0, 170, 213);
   text-align:left;
   font-weight:900;
   width: 1850px; left: 50px; top: 5px; height: auto;
   font-size:1.8em;
   margin-top:30px;
   margin-left:50px;
}
h1.bluetitleR {
   color: rgb(0, 170, 213);
   text-align:right;
   font-weight:900;
   width: 1850px; left: 10px; top: 5px; height: auto;
   font-size:1.8em;
   margin-top:30px;
   margin-left:0px;
}
h1.bluetitleRD {
   color: rgb(0, 170, 213);
   text-align:right;
   font-weight:900;
   width: 1850px; left: 10px; top: 5px; height: auto;
   font-size:1.8em;
   margin-top:42%;
   margin-left:0px;
}
h1.bluetitleBIG {
   color: rgb(0, 170, 213);
   text-align:center;
   font-weight:1800;
   width: 1900px; left: 10px; top: 5px; height: auto;
   font-size:3.6em;
   margin-top:30px;
   margin-left:30px;
}
h1.whitetitle {
   color: white;
   text-align:left;
   font-weight:900;
   width: 1900px; left: 10px; top: 5px; height: auto;
   font-size:1.8em;
   margin-top:30px;
   margin-left:30px;
}
h1.whitetitleR {
   color: white;
   text-align:right;
   font-weight:900;
   width: 1900px; right: 50px; top: 5px; height: auto;
   font-size:1.3em;
   margin-top:30px;
   margin-right:50px;
}
h1.warning {
   color: rgb(237,152,59);
   text-align:right;
   font-weight:1500;
   width: 1400px; left: 10px; top: 500px; height: auto;
   font-size:2.5em;
   margin-top:0px;
   z-index:0;
}
h1.reminder {
   color: rgb(237,59,59);
   position:absolute;
   text-align:center;
   font-weight:1500;
   width: 1920px; left: 0px; top: 500px; height: auto;
   font-size:2.5em;
   margin-top:000px;
   z-index:1000;
}
h1.endtitle {
   color: rgb(0, 170, 213);
   text-align:right;
   font-weight:1500;
   width: 1900px; left: 10px; top: 700px; height: auto;
   font-size:1.8em;
   margin-top:100px;
   margin-bottom:30px;
}
h1.endtitlered {
   color: rgb(255, 194, 158);
   text-align:right;
   font-weight:1500;
   width: 1850px; left: 10px; top: 700px; height: auto;
   font-size:1.8em;
   margin-top:100px;
   margin-right:100px;
   margin-bottom:30px;
}
h1.endtitleredL {
   color: rgb(255, 194, 158);
   text-align:left;
   font-weight:1500;
   width: 1750px; left: 250px; top: 700px; height: auto;
   font-size:1.3em;
   margin-top:100px;
   margin-left:200px;
   margin-bottom:30px;
}

p.citation {
   text-align:right;
   font-size:100%;
   margin-right:5%;
   margin-top:0%;
   color:rgb(150,150,150);
}
p.citationL {
   text-align:left;
   font-size:100%;
   margin-right:0%;
   margin-top:0%;
   color:rgb(150,150,150);
}
.sturdy td:nth-child(1) {
  width: 58%;
  text-align:right;
}
.sturdy td:nth-child(2) {
  width: 32%;
  text-align:left;
}
.sturdy td:nth-child(3) {
  width: 10%;
  text-align:center;
}

mark.r {color: #747474;background: #000000;}
.u {color: #B540B7;background: #000000;}
.s {color: #4669F2;background: #000000;}
.m {color: #04CD22;background: #000000;}
.l {color: #CC2C2A;background: #000000;}
.k {color: #000000;background: #000000;}
.w {color: #ffffff;background: #000000;}
.magenta {color: #ff00ff;background: #000000;}
.orange {color: #ffa500;background: #000000;}
.cyan {color: #00ffff;background: #000000;}

div.slblock-content.box {
   font-size: 145%;
   text-align: left;
   background-color: black;
   border-style: solid;
   border-width: 4px;
   border-radius: 20px;
   padding: 25px;
}

div.slblock-content.boxgrey {
   font-size: 145%;
   text-align: left;
   color:rgb(125,125,125);
   background-color: black;
   border-style: solid;
   border-width: 4px;
   border-radius: 20px;
   padding: 25px;
}

div.slblock-content.boxred {
   font-size: 145%;
   text-align: center;
   background-color: rgb(150, 34, 38);
   border-style: solid;
   border-width: 0px;
   border-radius: 20px;
   padding: 25px;
}

div.slblock-content.boxblack {
   font-size: 145%;
   text-align: center;
   background-color: rgb(0,0,0);
   border-style: solid;
   border-width: 0px;
   border-radius: 20px;
   padding: 25px;
}

div.slblock-content.boxblue {
   font-size: 145%;
   text-align: center;
   background-color: black;
   border-style: solid;
   border-width: 4px;
   border-radius: 20px;
   border-color:rgb(80, 80, 180);
   padding: 25px;
}

p.blue{color:rgb(80, 80, 180);}

img.fader:hover {
/*			    -webkit-transform: scaleX(-1);*/
/*			    transform: scaleX(-1);*/
   opacity:0;
}
img.overlay{
   position:absolute;
}

div.polaroid {
   width: 50%;
   background-color: rgb(8,8,8);
   box-shadow: 0px 16px 32px 1px rgba(200, 200, 200, 0.2), 1px 24px 80px 1px rgba(200, 200, 200, 0.19);
}

div.containerpol {
  text-align: center;
  padding: 10px 20px;
}

@keyframes strike {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}
.strike {
  text-decoration: line-through;
  animation: strike 1s linear;
}

@keyframes redtoblue {
  from { color: rgb(205,41,34); }
  to { color: rgb(80, 80, 180); }
}

.redtoblue {
  animation: redtoblue 6s linear;
}

@keyframes rainbow {
  0% { color: rgb(151,45,186); }
  12% { color: rgb(3, 87, 214); }
	25% { color: rgb(0, 208, 2); }
	36% { color: rgb(205, 41, 34); }
	50% { color: rgb(116,116,116); }
	62% { color: rgb(205, 41, 34); }
	74% { color: rgb(0, 208, 2); }
	88% { color: rgb(3, 87, 214); }
	100% { color: rgb(151,45,186); }
}

.rainbow {
  animation: rainbow 20s infinite linear;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  /* background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%); */
  background: linear-gradient(to right, #972DBA 14%, #0357D6 34%, #00D002 50%, #CD2922 66%, #747474 82%, #972DBA 96%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 6s linear infinite;
}

.flip{
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

.flipX{
  animation: flipX 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flipX {
  0%,80% {
    transform: rotateX(360deg)
  }
}
